{% extends 'base-back.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Contenu</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.contenu }}</td>
                <td>{{ reclamation.email }}</td>
                <td>{{ reclamation.nom }}</td>
                <td>{{ reclamation.prenom }}</td>
                <td>{{ reclamation.telephone }}</td>
                <td>
                  <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-warning">Edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_reclamation_new')}}" class="btn btn-success">Create new</a>
   
{% endblock %}
